@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
	--purple-color: hsl(259, 100%, 65%);
	--light-red-color: hsl(0, 100%, 67%);
	--white-color: hsl(0, 0%, 100%);
	--off-white-color: hsl(0, 0%, 94%);
	--light-grey-color: hsl(0, 0%, 88%);
	--smokey-grey-color: hsl(0, 1%, 44%);
	--off-black-color: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--light-grey-color);
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	width: 70%;
	margin: 0 auto;
	background-color: var(--white-color);
	border-radius: 15px 15px 50% 15px;
	height: fit-content;
	padding: 2.314159rem;
}

.form {
}

.input-section {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.input-section > div {
	width: 90px;
}

.input-section label {
	color: var(--smokey-grey-color);
	letter-spacing: 1.7px;
	font-size: 10px;
}

.input-section input {
	width: 90px;
	height: 40px;
	border-radius: 4px;
	border: 2px var(--light-grey-color) solid;
	padding: 10px;
	font-weight: 700;
}

.input-section input:focus {
	outline: none;
}

.submit-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hr {
	width: 100%;
}

.btn-submit {
	border-radius: 50%;
	border: none;
	background-color: var(--purple-color);
	padding: 15px;
}

.btn-submit > img {
	width: 35px;
}

.output-section {
	font-size: 3rem;
	font-weight: 800;
	font-style: italic;
	color: var(--off-black-color);
	display: flex;
	flex-direction: column;
}

.output {
	margin-bottom: -16px;
}

.output > strong {
	color: var(--purple-color);
}
